<h2>Show person</h2>

<ul>

  <li>
    <strong>Given name:</strong>
    <%= @person.given_name %>
  </li>

  <li>
    <strong>Family name:</strong>
    <%= @person.family_name %>
  </li>

</ul>

<%= link "Edit", to: person_path(@conn, :edit, @person) %>
<%= link "Back", to: person_path(@conn, :index) %>
